
.code-box-demo {
    text-align: center;
}
.ant-layout-header,
.ant-layout-footer {
    background: white;
}
.ant-layout-footer {
    text-align: center;
    line-height: 1.5;
}
.ant-layout-sider {
    background: none;
    line-height: 100px;
    font-weight: bold;
}
.ant-layout-content {
    background: white;
    text-align: center;
}
> .code-box-demo > div > .ant-layout {
    margin-bottom: 48px;
}
> .code-box-demo > div > .ant-layout:last-child {
    margin: 0;
}

.main-header {
    text-align: center;
    margin: 5px;
}
